body {
    background-image: url(../img/custom_background.jpg);
    color: white;
}

a:link {
  color: white;
}

a:visited {
  color: white;
}

a:hover {
  color: #C4D846;
}

div.nav h2, .feed-icon, #breadcrumb {
  display: none;
}

.nav {
  padding-top: 5%;
  font-size: large;
}

#block-system-main {
  padding: 5%;
}

p, .submitted, .content{
  color: white;
}

#page-title {
  text-align: center;
  color: white;
}
